*{
    margin: 0;
    padding: 0;
}

#pan-left{
    background-image: url('./resources/textures/aphex-logo.png');
    background-size: contain;
    position: absolute;
    left: 2%;
    top: 50%;
    width: 100px;
    height: 100px;
    opacity: 100%;
}

#pan-right{
    background-image: url('./resources/textures/aphex-logo.png');
    background-size: contain;
    transform: scale(-1, 1);
    position: absolute;
    right: 2%;
    top: 50%;
    width: 100px;
    height: 100px;
    opacity: 100%;
}